[Unit]
Description=Revolux Full Node
After=network-online.target

[Service]
User=revolux
Group=revolux
WorkingDirectory=~
StateDirectory=revolux
LogsDirectory=revolux

Type=simple
ExecStart=/usr/bin/revoluxd --config-file /etc/revoluxd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
